#homecontainer{
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: row;
    margin-top: 15vh;
}

#leftWrapper{
    background-color: #128D75;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-left: 1%;
}
#leftWrapper .designParts{
    width: 150%;
    background-color: #166656;
    height: 15%;
    z-index: 3;
    margin-left: 110px;
}
#topDesign{
    border-bottom-right-radius: 145px;
    border-top-left-radius: 90px;
}

#bottomDesign{
    border-top-right-radius: 145px;
    border-bottom-left-radius: 90px;
}
#leftWrapper .linksParts{
    width: 100%;
    margin-right: 12px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    transition: all ease-in-out 0.2s;
}
#leftWrapper .linksParts:hover{
    background-color: white;
    color: var(--darkgreen);
}
#leftWrapper .firstform{
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
}
#leftWrapper .secondform{
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
}
#leftWrapper .oneColor{
    background-color: #166656;
}
#leftWrapper .secColor{
    background-color: #125347;
}
#leftWrapper .thirdColor{
    background-color: #124B40;
}
#rightContainer{
    background-color: #18bc9c;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 1rem;
}

#rightContainer #titleContainer{
    font-size: 2.5rem;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: lighter;
    width: 60%;
}

